<div class="col-lg-6">
    <h1>Создание сотрудника</h1>
    <form>
        <div class="form-group">
            <label class="control-label"></label>
            <input ng-model="newPerson.firstName" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label class="control-label"></label>
            <input ng-model="newPerson.lastName" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label class="control-label"></label>
            <input ng-model="newPerson.position" class="form-control" type="text">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="addPerson()">Save</button>
        </div>
    </form>
</div>